Button {
  background-color: transparent;
  border: 2px solid #444450;
  font-family: "Jost", sans-serif;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

Button:hover {
  background-color: #444450;
}

Button:active {
  background-color: transparent;
  border-color: transparent;
}

body {
  font-family: "Jost", sans-serif;
}

.Test {
  display: flex;
  font-weight: bold;
  gap: 10px;
}